body{
    background-color: #fafafa;
}

.landingPage {
    overflow: hidden;
}

.landingForm {
    margin-top: 30vh;
}

.headerCard {
    margin-top: 60%;
    margin-bottom: 2%;
}

.header {
    background-color: lightgrey;
}

.contactInfoCard {
    margin-bottom: 2%;
}

.contactInfo {
    background-color: lightgrey;
}

.contactInfo > h1 {
    font-size: 25px;
}

.description {
    background-color: lightgrey;
}

.description > h1 {
    font-size: 25px;
}

.loaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}
.loaderText{
    display: block;
}
.loader {
    display: block;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0071BE;
    border-bottom: 16px solid #37B649;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.cardContents {
    border-radius: 1rem;
    border: 1px solid #B6EAFF;
    margin: 1rem;
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px rgba(108, 118, 255, 0.322), 
    5px 5px rgba(39, 72, 102, 0.22);
    cursor: pointer;
    transition: 0.4s;
}
.resultsBody {
    background-color: #DCF5FF;
    height: 100%;
}
.cardTitle {
    font-weight: bold;
}
.card-subtitle, .card-text {
    color: #B3B3B3;
    font-size: .8rem;
}
.cardTitle:hover, .card-subtitle:hover {
    text-decoration: underline;
}
