body{
    background-color: #fafafa;
}

.landingPage {
    overflow: hidden;
}

.landingForm {
    margin-top: 30vh;
}

.header {
    background-color: lightgrey;
}

.contactInfo {
    background-color: lightgrey;
}

.contactInfo > h1 {
    font-size: 25px;
}

.description {
    background-color: lightgrey;
}

.description > h1 {
    font-size: 25px;
}